{% extends 'layouts/htmlDoc.html.twig' %}


{% block meta %}
    {{ parent() }}

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

{% endblock %}


{% block stylesheets %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% endblock %}


{% block inHead %}
    {{ parent() }}

    <title> {% block title %}{% endblock %} </title>

    <link rel="icon" type="image/x-icon" href="{{ appPath ~ 'favicon.ico' }}"/>
{% endblock %}


{% block javascriptBottom %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ appFrontPath ~ 'inline.bundle.js' }}"></script>
    <script type="text/javascript" src="{{ appFrontPath ~ 'polyfills.bundle.js' }}"></script>
    <script type="text/javascript" src="{{ appFrontPath ~ 'styles.bundle.js' }}"></script>
    <script type="text/javascript" src="{{ appFrontPath ~ 'vendor.bundle.js' }}"></script>
    <script type="text/javascript" src="{{ appFrontPath ~ 'main.bundle.js' }}"></script>
{% endblock %}