{% extends 'varInitialisation.html.twig' %}
{% block docinit %}
<!DOCTYPE html>
<html>
    <head>

        {% block meta %}{% endblock %}
        {% block inHead %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block javascriptHead %}{% endblock %}

    </head>
    <body class="{{ bodyClass is defined ? bodyClass : ''  }}">

        {% block body %}{% endblock %}
        {% block javascriptBottom %}{% endblock %}

    </body>
</html>
{% endblock %}
