<router-outlet></router-outlet>

<h1>Parsing</h1>
<form [formGroup]="mainForm" (ngSubmit)="onSubmit()" >

    <div class="form-group">
        <label for="formControlInputUrl">URL address</label>
        <input type="text" class="form-control" id="formControlInputUrl" formControlName="url" required >
        <div *ngIf="mainForm.get('url').invalid && (mainForm.get('url').dirty || mainForm.get('url').touched)"
             class="alert alert-danger">
            <div *ngIf="mainForm.get('url').errors.required">
                Url is required.
            </div>
            <div *ngIf="mainForm.get('url').errors.url">
                Url is invalid.
            </div>
        </div>
        <div *ngIf="getResponseErrors('url')" class="alert alert-danger">
            <div *ngFor="let error of getResponseErrors('url')">
                {{ error }}
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="formControlInputType">Search type</label>
        <select class="form-control" id="formControlInputType" formControlName="type" required>
            <option value="link">Link</option>
            <option value="image">Image</option>
            <option value="text">Text</option>
        </select>
        <div *ngIf="mainForm.get('type').invalid && (mainForm.get('type').dirty || mainForm.get('type').touched)"
             class="alert alert-danger">
            <div *ngIf="mainForm.get('type').errors.required">
                Type is required.
            </div>
        </div>
        <div *ngIf="getResponseErrors('type')" class="alert alert-danger">
            <div *ngFor="let error of getResponseErrors('type')">
                {{ error }}
            </div>
        </div>
    </div>

    <div class="form-group" *ngIf="mainForm.get('type').value === 'text'">
        <label for="formControlInputText">Search text</label>
        <textarea class="form-control" id="formControlInputText" rows="3" formControlName="text" required></textarea>
        <div *ngIf="mainForm.get('text').invalid && (mainForm.get('text').dirty || mainForm.get('text').touched)"
             class="alert alert-danger">
            <div *ngIf="mainForm.get('text').errors.required">
                Text is required.
            </div>
        </div>
        <div *ngIf="getResponseErrors('text')" class="alert alert-danger">
            <div *ngFor="let error of getResponseErrors('text')">
                {{ error }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="form-control btn btn-primary" type="submit" [disabled]="!mainForm.valid">Submit</button>
    </div>

    <div *ngIf="responseSubmitIsError" class="alert alert-danger">
        <div> The parsing request returned an error </div>
    </div>

    <div *ngIf="responseSubmitIsSuccess" class="alert alert-success">
        <div> The parsing request returned successfully, {{ responseSubmit.mathsCount }} matches found. <a [routerLink]="['/parsed/' + responseSubmit.parsedId]">Show results.</a></div>
    </div>

</form>
