{% extends 'layouts/base.html.twig' %}


{% block title %} Test {% endblock %}


{% block body %}

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/#/">Home</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/#/list">List</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="starter-template">
            <app-front></app-front>
        </div>
    </div>

{% endblock %}
