<router-outlet></router-outlet>

<h1>Result list</h1>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>URL</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let item of responseList">
            <td>{{ item.id }}</td>
            <td><a [routerLink]="['/parsed/' + item.id]">{{ item.pageUrl }}</a></td>
            <td>{{ item.mathsCount }}</td>
        </tr>
    </tbody>
</table>