<router-outlet></router-outlet>

<h1>Result parsed</h1>
<table class="table">
    <thead>
        <tr>
            <th>Maths</th>
        </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of responseData.maths">
        <td>{{ item }}</td>
    </tr>
    </tbody>
</table>